body
{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(6, 6, 22);
}

*
{
  box-sizing: border-box;
}

#container
{
  background-color: rgb(53, 53, 53);
  border-radius: 20px;
  width: 400px;
  height: 500px;
  padding: 20px;
  margin-top: 100px;

  box-shadow: 10px 10px rgb(34, 34, 34);

}

#display
{
  color: white;
  font-size: 42px;
  height: 80px;

  align-self: flex-end;
}

.container-display
{
  background-color: rgb(44, 70, 44);
  margin-bottom: 10px;

  overflow: hidden;
  white-space: nowrap;
}

#container div
{
justify-content: flex-end;
 align-items: center;
 display: flex;
}

#container div button
{
  font-size: 18px;
  flex: 1;
  border-radius: 20px;
  border: none;
  padding: 20px;
  margin: 6px;
  cursor: pointer;
}

.operator
{
  background-color: orange;
}

#equal
{
  background-color: rgb(250, 78, 78);
}

.isOn
{
  background-color: rgb(255, 207, 118);
}

#clear, 
#backspace
{
  background-color: orangered;
}

#decimal,
#percentage,
#changeValue
{
  background-color: orange;
}